<!doctype html>
<html>
  <head>
    <title>My experiment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="jspsych-5.0.3/jspsych.js"></script>
    <script src="jspsych-5.0.3/plugins/jspsych-text.js"></script>
    <script src="jspsych-5.0.3/plugins/jspsych-single-stim.js"></script>
    <link href="jspsych-5.0.3/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="public/css/experiment.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
    <div class = "parent">
     <div class = "child">
       <div id="jspsych_target"></div>
     </div>
   </div>
  </body>
  <script>



  /* define welcome message block */
  var welcome_block = {
    type: "text",
    text: "<p>Now, we are going to ask you some questions about yourself.</p>" +
    "<p>There are no right or wrong answers, we simply want to know more about you.</p>" +
    "<p>We are going to ask you to respond to the same set of personality questionnaires twice</p>" +
    "<p>Once thinking about <strong>yourself as a university student, and once again thinking about yourself as a romantic partner.</strong></p>" +
    "<p>Please follow the instructions on the following screens.</p>" +
    "<p>Ready? Press any key to begin.</p>"
  };

  /* define instructions block */
  var instructions_block = {
    type: "text",
    text:"<p>A series of attributes will appear on the computer screen.</p> " +
          "<p>For each attribute, please indicate whether the attribute is characteristic of you or not</p>" +
          "<p>by pressing the corresponding number key on the keyboard.</p>" +
          "<p>  </p>"+
          "<p><strong> Press 1 </strong>to indicate 'Me'</p>" +
          "<p><strong>Press 0 </strong>to indicate 'Not Me.'</p>" +
        "<div class='left center-content'><img src='img/Me.png'></img>" +
        "<p class='small'><strong>Press 1</strong></p></div>" +
        "<div class='right center-content'><img src='img/Not me.png'></img>" +
        "<p class='small'><strong>Press 0</strong></p></div>" +
        "<p>Only answer 'Me' if the attribute is <strong>VERY CHARACTERISTIC</strong> of you.</p>"+
        "<p>Please provide your answer <strong>AS QUICKLY</strong> and accurately as possible.</p>"+
        "<p>Press any key to continue.</p>",
    timing_post_trial: 2000
  };



  /* define pretest message block */
  var pretest_msg_block = {
    type: "text",
    text: "<p>This is a practice session.</p>"+
    "<p>Please place your index fingers on the keyboard indicating '1' and '0'</p>" +
    "<p><strong>press 1</strong> if the attribute indicates you.</p>" +
    "<p><strong>Press 0</strong> if the attribute does not describe you.</p>" +
    "<p>Only answer 'Me' if the attribute is <strong>VERY CHARACTERISTIC</strong> of you.</p>"+
    "<p>Please provide your answer <strong>AS QUICKLY</strong> and accurately as possible.</p>"+
    "<p>Ready? Press any key to begin.</p>"
  };

  /* define test message block */
  var test_msg_block = {
    type: "text",
    text: "<p>Now, let's begin the actual test session.</p>"+
    "<p>Before you start the task, think about your characteristics <strong>as a university student.</strong></p>" +
    "<p>What kind of person are you as <strong>a university student?</strong></p> " +
    "<p>Please place your index fingers on the keyboard indicating '1' and '0'</p>" +
    "<p>As mentioned before, <strong>press 1</strong> if the attribute indicates you as a university student.</p>" +
    "<p><strong>Press 0</strong> if the attribute does not describe you as a university student.</p>" +
    "<p>Only answer 'Me' if the attribute is <strong>VERY CHARACTERISTIC</strong> of you as a university student.</p>"+
    "<p>Please provide your answer <strong>AS QUICKLY</strong> and accurately as possible.</p>"+
    "<p>Ready? Press any key to begin.</p>"
  };

  /* define test message block */
  var test_msg_block_2 = {
    type: "text",
    text:
    "<p>This time, think about your characteristics <strong>as a romantic partner.</strong></p>" +
    "<p>What kind of person are you as <strong>a romantic partner?</strong></p> " +
    "<p>Please place your index fingers on the keyboard indicating '1' and '0'</p>" +
    "<p>As mentioned before, <strong>press 1</strong> if the attribute indicates you as a romantic partner.</p>" +
    "<p><strong>Press 0</strong> if the attribute does not describe you as a romantic partner.</p>" +
    "<p>Only answer 'Me' if the attribute is <strong>VERY CHARACTERISTIC</strong> of you as a romantic partner.</p>"+
    "<p>Please provide your answer <strong>AS QUICKLY</strong> and accurately as possible.</p>"+
    "<p>Ready? Press any key to begin.</p>"
  };

  /* define test block */

  var test_stimuli = [
    {
      stimulus: "img/openminded.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/agreeable.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/dishonest.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/lazy.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/stubborn.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/hardworking.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/artistic.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/disorganized.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/irritable.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/athletic.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/thoughtful.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/anxious.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/bossy.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/patient.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/intelligent.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/unkind.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/inconsiderate.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/selfish.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/funny.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/warm.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/expressive.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/creative.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/enthusiastic.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/clumsy.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/absentminded.png",
      choices: ['1','0']
    }
  ];

  var all_trials = jsPsych.randomization.repeat(test_stimuli, 1);

  /* define test block 2*/

  var test_stimuli_2 = [
    {
      stimulus: "img/openminded 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/agreeable 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/dishonest 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/lazy 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/stubborn 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/hardworking 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/artistic 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/disorganized 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/irritable 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/athletic 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/thoughtful 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/anxious 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/bossy 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/patient 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/intelligent 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/unkind 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/inconsiderate 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/selfish 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/funny 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/warm 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/expressive 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/creative 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/enthusiastic 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/clumsy 2.png",
      choices: ['1','0']
    },
    {
      stimulus: "img/absentminded 2.png",
      choices: ['1','0']
    }
  ];

  var all_trials_2 = jsPsych.randomization.repeat(test_stimuli_2, 1);



  var post_trial_gap = function() {
    return Math.floor( Math.random() * 1500 ) + 750;
  };

  var pretest_block = {
    type: "single-stim",
    choices: ['1','0'],
    timing_post_trial: post_trial_gap,
    timeline: [
        {stimulus: "img/dishonest.png"},
        {stimulus: "img/expressive.png"},
        {stimulus: "img/funny.png"}
    ]};

  var test_block = {
    type: "single-stim",
    choices: ['1','0'],
    timing_post_trial: post_trial_gap,
    timeline: all_trials


  };
  var test_block_2 = {
    type: "single-stim",
    choices: ['1','0'],
    timing_post_trial: post_trial_gap,
    timeline: all_trials_2


  };

  /*randomize the test blocks*/
  var test_1 = [test_msg_block,test_block];
  var test_2 = [test_msg_block_2,test_block_2];
  var tests = [test_1, test_2];
  var randomtests = jsPsych.randomization.shuffle(tests);

  /* define debrief block */

  function getSubjectData() {

    var trials = jsPsych.data.getTrialsOfType('single-stim');

    var sum_rt = 0;
    var correct_trial_count = 0;
    var correct_rt_count = 0;
    for (var i = 0; i < trials.length; i++) {
      if (trials[i].correct == true) {
        correct_trial_count++;
        if(trials[i].rt > -1){
          sum_rt += trials[i].rt;
          correct_rt_count++;
        }
      }
    }
    return {
      rt: Math.floor(sum_rt / correct_rt_count),
      accuracy: Math.floor(correct_trial_count / trials.length * 100)
    }
  }
  var debrief_block = {
    type: "text",
    text: "<p> This is the end of this portion of the experiment.</p>" +
    "<p>You will be redirected to qualtrics server to finish up the rest of the experiment. Thank you!</p>"
  };


  var xdebrief_block = {
    type: "text",
    text: function() {
      var subject_data = getSubjectData();
      return "<p>You responded correctly on "+subject_data.accuracy+"% of "+
      "the trials.</p><p>Your average response time was <strong>" +
      subject_data.rt + "ms</strong>. Press any key to complete the "+
      "experiment. Thank you!</p>";
    }
  };

  /* create experiment timeline array */
  var timeline = [];
  timeline.push(instructions_block);
  timeline.push(pretest_msg_block);
  timeline.push(pretest_block);
  timeline.push(tests);
  timeline.push(debrief_block);

/*create unique data file according to trial# of the participants*/
  var currentTimeMS = Date.now();

 function saveData(filename, filedata){
 $.ajax({
   type:'post',
   cache: false,
   url: 'save_data.php', // this is the path to the above PHP script
   data: {filename: filename, filedata: filedata}
 });
 }

 jsPsych.init({
   timeline:timeline,
   display_element: $('#jspsych_target'),
   on_finish: function() {
     $.ajax({
          type: "POST",
          url: "/experiment-data",
          data: JSON.stringify(jsPsych.data.getData()),
          contentType: "application/json"
        })
        .done(function() {
          window.location.href = "finish";
        })
        .fail(function() {
          alert("A problem occurred while writing to the database. Please contact the researcher for more information.")
          window.location.href = "/";
        })
      }
    });





</script>
</html>
